*{
    background-image:url("http://images6.fanpop.com/image/photos/40000000/Pokemon-Background-Designs40-earn-gold-here-40015982-1920-1080.jpg");
}

#dadosPokemon{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}