.vertical{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    width:100%;
    height:100px;
    border:2px solid black;
}

.green{background:green;}
.yellow{background:yellow;}
.red{background:red;}

.col1{width:40%;height:100%;}
.col2{width:60%;height:50%;}
