<template>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
<<<<<<< HEAD
    <input type="text" v-validate="'required|email'" :name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@email.com">
=======
    <input type="text" v-validate="'required|email-dbc'" :name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@dbccompany.com">
>>>>>>> master
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu email com ninguém.</small>
    <div v-show="errors.has( this.nome )" class="alert alert-danger" role="alert">
      <span>{{ errors.first( this.nome ) }}</span>
    </div>
    
  </div>
</template>
<script>
export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
<<<<<<< HEAD
=======

>>>>>>> master
</script>
