<template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Thumb</th>
        <th scope="col">Altura</th>
        <th scope="col">Peso</th>
      </tr>
    </thead>
    <tbody>
      <PokemonLinha :pokemon="pokemon" v-for="pokemon in pokemons" :key="pokemon.id" />
    </tbody>
<<<<<<< HEAD
  </table>
</template>
<script>
import PokemonLinha from './PokemonLinha.vue'
export default {
  name: 'TabelaPokemon',
  components: {
    PokemonLinha
  },
  props: {
    pokemons: Array
  }
}
</script>











=======
    <tfoot>
      <Button v-bind:texto="textoBotao" id="proximo" v-on:click="troca"></Button>
    </tfoot>
  </table>
</template>

<style>
   #proximo{margin-left: 500%;}
</style>
<script>
import PokemonLinha from './PokemonLinha.vue'
import Button from './Button.vue'
import PokeApi from '../../api/pokeApi.js'

let nPagina=0
export default {
  name: 'TabelaPokemon',
  components: {
    PokemonLinha, Button
  },
  props: {
    pokemons: Array
  },
  data: () => {
    return {
      textoBotao: 'Próxima'
  }
  },
  methods: {
    async troca() {
      nPagina++
      console.log(nPagina)
      const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
      await pokeApi.listarPorTipo( 1, 10, nPagina)
    }
  }


}
</script>
>>>>>>> master
