* {
  margin: 0;
}

.flag {
  height: 100vh;
  width: 100vw;
}

.cross{
  width: 32%;
  height: 55.6%;
  z-index: 2;
  position: absolute;
}

.container, .col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.h-45 {
  height: 45vh;
}

.h-10 {
  height: 185px;
}

.w-7 {
  width: 7vw;
}

.w-20 {
  width: 20vw;
}

.w-10 {
  width: 185px;
}
.w-50 {
  width: 50vw;
}
.w-70 {
  width: 70vw;
}
.w-75 {
  width: 75vw;
}

.white {
  background-color: #ffffff;
}

.blue {
  background-color: #0D5EAF;
}
