*{
  margin:0;
}
body, html{
  height: 100%;
}
.faixa{
  width: 100%;
  height: calc(100%/3);
  position: relative;
  background-color: white;
}
.faixa:first-child, .faixa:last-child{
  background-color: red;
}
.arvore{
    width: calc(100%/6);
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
