<html>
  <head>
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <section id="meuPrimeiroApp">
      <input type="text" placeholder="ex: 103" v-on:blur="buscar()" v-model="idParaBuscar">  
      <h2 v-show="idParaBuscar.length > 0">Olá, {{ idParaBuscar }}</h2>
      <h1>{{ pokemon.nome }}</h1>
      <img v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
<<<<<<< HEAD
      
      
      
=======
>>>>>>> master
      <ul>
        <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
      </ul>
    </section>
    <script src="src/pokemon.js"></script>
    <script src="src/pokeApi.js"></script>
    <script src="src/app.js"></script>
  </body>
</html>
