*{
margin:0;  
}

.flag{
  height: 100%;
  width: 100%;
  position: absolute;
}
.flag .x{
  margin-top: 300px;
  height: calc(100%/4);
  width: 100%;
  z-index: 1;
  background-color: #002F6C;
  position: inherit;
}
.flag .y{
  margin-left: 300px;
  height: 100%;
  width: calc(100%/7);
  background-color: #002F6C;
  position: inherit;
  z-index: 2;
}
