<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Hello World</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="css/pokedex.css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body style="background:#EEE943">
  <section id="meuPrimeiroApp" class="container">
    <input type="text" placeholder="ex: 103" v-on:blur="buscar()" v-model="idParaBuscar">
    <button id="sorte" v-on:click="estouComSorte()">Estou com sorte</button>
      <div id="dadosPokemon">
        <h1>{{pokemon.nome}}</h1>
        <img v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
        <table v-show="pokemon.id" id="especificacoes" class="table">
          <tr>
            <td>ID do pokemon</td>
            <td v-show="pokemon.id > 0">{{pokemon.id}}</td>
          </tr>
          <tr>
            <td>Altura</td>
            <td>{{pokemon.altura}}</td>
          </tr>
          <tr>
            <td>Peso</td>
            <td>{{pokemon.peso}}</td>
          </tr>
          <tr>
            <td>Tipo</td>
            <td><span v-for="tipo in pokemon.tipos">{{ tipo }} </span></td>
          </tr>
          <tr>
            <td>Estatísticas</td>
          </tr>
          <table>
            <thead>
              <tr v-show="pokemon.id>0">
                <th>Nome</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="stat in pokemon.stats">
                <td>{{ stat.nome }}</td>
                <td>{{ stat.valor }}</td>
              </tr>
            </tbody>
            
          </table>          
        </table>
      </div>
  </section>
  <script src="src/pokemon.js"></script>
  <script src="src/pokeApi.js"></script>
  <script src="src/app.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>