.pagina{
    height: 100%;
    width: 100%;
    justify-content: center; 
    flex-direction: column;
    display: flex;
    position: absolute;
    background-color: #505050;
}
.relogio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botoes{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.botoes #btn_pausar{
    height: 50px;
    width: 50px;
    background: url(cama.png);
    background-color: #218795;
    background-size: 100% 100%;
}
.botoes #btn_reiniciar{
    height: 50px;
    width: 50px;
    background: url(cafe.png);
    background-color: #218795;
    background-size: 100% 100%;
}

.relogio h1{
    color: #AAC02D;
}
.relogio h2{
    color: #AAC02D;
    padding: 0px;
    margin: 0px;
}
.progress{
    margin-top: 10px;
    height: 15px;
    width: calc(100%/4);
    background-color: #218795;
    position: relative;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #AAC02D;
   animation: progress-animation 86400s infinite;
}


@keyframes progress-animation{
    0% { width: 80%}
    100% { width: 100%; }  
}