*{
  margin:0;
}
body, html{
  height: 100%;
}
.faixa{
  width: 100%;
  height: calc(100%/3);
  position: relative;
  background-color: #FF0000;
}
.faixa:first-child{
  background-color: #000000;
}
.faixa:last-child{
  background-color: #FFCC00;
}
