*{
    background:#EEE943;
    padding:0;
    margin: 0;
}

#dadosPokemon{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style-type: none;
}