
.circulo{
  margin-top: 17%;
  margin-left: 40%;
  width:17%;
  height:17vw;
  background-color: #C70025;
  border-radius:100%;
  position: fixed;
}
@media(max-width: 500px){
  .circulo{
    background-color: blue;
  }
}